<!-- HOME index.ejx -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Oh God, what have I done?</h1>
            <p>A true inspiration for the children.</p>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    
</body>
</html>