<!-- views/site/contact.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h3>Feel free to contact us-</h3>
                    <p>Chances are we won't write back. Bite my shiny metal ass.</p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Contact us:</h3>
                    <p><strong>Scruffy Scruffington</strong></p>
                    <p><em>Publisher/Janitor</em></p>
                    <a href="ToiletsNBoilers@ZeroGJuggs.com">ToiletsNBoilers@PlanetExpress.com</a>
                    <p></p>
                    <p><strong>Bender Bending Rodriguez</strong></p>
                    <p><em>Editor in Chief</em></p>
                    <a href="ShinyMetalAss@BiteMe.com">ShinyMetalAss@PlanetExpress.com</a>
                    <p></p>
                    <p><strong>Lord Nibbler</strong></p>
                    <p><em>Managing Editor</em></p>
                    <a href="ConsolidatedHeadmelter@Infosphere.com">ConsolidatedHeadmelter@PlanetExpress.com</a>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>